<div class="row pt-2 pb-2">
  <div class="col-sm-9">
    <h4 class="page-title">Garbage Rate</h4>
  </div>
</div>


<div class="row">

  <div class="col-lg-8">
    <!-- get Garbage Rate -->
    <div class="card" *ngIf="!editFlg">
        <div class="card-header">
          <div class="col-sm-12">
            <div class="row">
              <!-- <div class="col-sm-6">
                  <div class="form-group">
                      <label for="">Search by Garbage Rate name</label>
                      <input type="text" name="searchfild" class="form-control" [(ngModel)]="searchFild" placeholder="Filter by Garbage Rate Name">
                    </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="">Search by State name</label>
                      <select class="form-control single-select" name="class" [(ngModel)]="searchGarbage Rate" (change)="searchGarbage RatebyStatename($event.target.value)">
                          <option *ngFor="let item of states" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>
              </div>
            </div> -->
          </div>
           
          </div>
      <div class="card-body">
        <h5 class="card-title">All Garbage Rate</h5>
        <div class="table-responsive">
            <div id="table-wrapper">
                <div id="table-scroll">
          <table class="table  table-bordered" >
            <thead>
              <tr class="bg-light text-dark">
                <td>Id</td>
                <td>Amount</td>
                <td>Home Type</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of garbagerates; let i = index">
                <td >{{i+1}}</td>
                <td >{{item.amount}}</td>
                <td >{{item.home_type.name}}</td>
                <td ><button type="button" class="btn btn-warning waves-effect waves-light m-1" (click)="editgarbagerates(item.id)">
                    <i class="fa fa-pencil"></i> </button></td>
                <td ><button type="button" class="btn btn-danger waves-effect waves-light m-1" (click)="trash(item.id)">
                    <i class="fa fa-trash-o"></i>
                  </button></td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
    </div>
   
    <!-- edit cities -->
   <div class="card" *ngIf="editFlg">
      <div class="card-body">
        <div class="card-title">Edit Garbage Rate</div>
        <hr>
        <form>
           
          <div class="form-group">
            <label for="input-1">Garbage Rate Amount</label>
            <input type="text" class="form-control" id="input-1" name="updateGarbageRate" [(ngModel)]="editObj.amount">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary shadow-primary px-5" (click)="updateGarbageRate()"><i class="icon-plus"></i>
              Update</button>
            <button type="submit" class="btn btn-danger shadow-primary px-5" (click)="cancelGarbageRate()"><i class="icon-plus"></i>
              Cancel</button>
          </div>
        </form>
      </div>
    </div> 
  </div>
  </div>
  <div class="col-lg-4">
    <!-- add Garbage Rate -->
   <div class="card" >
        <div class="card-body">
        <div class="card-title">Add Garbage Rate</div>
        <hr>
         <form>
            <div class="form-group">
                <label>Home Type</label>
                <select class="form-control single-select" name="class" [(ngModel)]="addGarbageRate.home_type_id" >
                  <option *ngFor="let item of hometypes" value="{{item.id}}">{{item.name}}</option>
                </select>
              </div>
        <div class="form-group">
         <label for="input-1">Garbage Rate Amount</label>
         <input type="text" class="form-control" id="input-1" name="add" [(ngModel)]="addGarbageRate.amount">
        </div>    
      
      
        <div class="form-group">
         <button type="submit" class="btn btn-primary shadow-primary px-5" (click)="add()"><i class="icon-plus"></i> Add</button>         
        </div>
       </form>
      </div>
      </div>
  </div>
</div>